@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0 !important;
 }

body{
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  background-color: white; 
  height: 100dvh;
  width: 100dvw;

}

@media print {
  html{
  border: none !important; 
  }

  body {
    font-size: 12pt !important;
    line-height: 1.5 !important;
    margin: 0 !important;
  }

  header, footer {
    display: none !important;
  }
   metadata{
    display: none !important;
   }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .glass {
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
  }
}