@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0 !important;
 }

body{
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  background-image: linear-gradient(
  290deg,
  hsl(288deg 53% 93%) 0%,
  hsl(265deg 71% 94%) 4%,
  hsl(245deg 93% 95%) 9%,
  hsl(227deg 100% 95%) 13%,
  hsl(215deg 100% 94%) 17%,
  hsl(206deg 100% 93%) 22%,
  hsl(200deg 100% 92%) 26%,
  hsl(196deg 100% 91%) 30%,
  hsl(193deg 100% 91%) 35%,
  hsl(193deg 100% 91%) 39%,
  hsl(193deg 100% 91%) 43%,
  hsl(193deg 100% 91%) 48%,
  hsl(193deg 100% 91%) 52%,
  hsl(193deg 100% 91%) 57%,
  hsl(193deg 100% 91%) 61%,
  hsl(193deg 100% 91%) 65%,
  hsl(196deg 100% 91%) 70%,
  hsl(200deg 100% 92%) 74%,
  hsl(206deg 100% 93%) 78%,
  hsl(215deg 100% 94%) 83%,
  hsl(227deg 100% 95%) 87%,
  hsl(245deg 93% 95%) 91%,
  hsl(265deg 71% 94%) 96%,
  hsl(288deg 53% 93%) 100%
);
}

@media print {
  html{
  border: none !important; 
  }

  body {
    font-size: 12pt; /* Adjust font size for print */
    line-height: 1.5; /* Adjust line height for print */
  }

   metadata{
    display: none !important;
   }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}